@model IEnumerable<test13.Models.Salle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbrDePlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datashow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbrDePlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datashow)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumSalle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumSalle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumSalle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
